/* styles_about.css */
body {
  font-family: 'Monospace';
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header, nav, section {
  padding: 1em;
}

header {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 1em;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: transparent;
  backdrop-filter: blur(40px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.bio {
  margin-bottom: 20px;
}

.links {
  margin-top: 20px;
}

.social-button {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

.social-button:hover {
  transform: scale(1.1);
}

  .telegram {
      background-color: #0088cc;
    }
    
  .telegram:hover {
      background-color: #005580;
    }

  .instagram {
      background-color: #de577d;
    }
    
  .instagram:hover {
      background-color: #de2c5e;
    }

  .xbox {
      background-color: #107C10;
    }
    
  .xbox:hover {
      background-color: #266e26;
    }
    
  .discord-link {
      background-color: #7289da;
    }
    
  .discord-link:hover {
      background-color: #8696d1;
    }
    
  .tiktok-link {
      background-color: #000000;
    }
    
  .tiktok-link:hover {
      background-color: #1a1a1a;
   }

@media only screen and (max-width: 600px) {
  header {
    font-size: 1.5em;
  }

  section {
    padding: 10px;
    margin: 10px;
  }

  .social-button {
    width: 100%;
    margin-right: 0;
  }
}
