.links {
  margin-top: 20px;
}

.social-button {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

.unkown {
  background-color: #007BFF;
  color: #fff;
  margin-top: 10px;
}

.unkown:hover {
  background-color: #0056b3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Monospace';
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
}

.container {
    display: flex;
    background-image: url("img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.message {
    text-align: center;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.9); /* Белый цвет фона с прозрачностью */
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.1);
    border-radius: 8px;
}

.message h1 {
    margin: 0;
    font-size: 24px;
}

.message i {
    font-size: 40px;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .message {
        max-width: 400px;
    }
}
